<h3><%= @post.title %></h3>
<h6>Authored By: <%=@post.author.username %></h6>

<% unless @post.url.nil? %>
  <h4>URL:</h4>
  <p><%= @post.url %></p>
<% end %>

<% unless @post.content.nil? %>
  <h4>Content:</h4>
  <p><%= @post.content %></p>
<% end %>

<p>Posted on:</p>
  <ul>
    <% @post.subs.each do |sub| %>
      <li><%= link_to sub.title, sub_url(sub) %></li>
    <% end %>
  </ul>

<% unless @post.comments.empty? %>
<p>Comments:</p>
 <ul>
    <% @post.comments.each do |comment| %>
    <% next unless comment.parent_comment_id.nil? %>
      <li><%= link_to comment.content, post_comment_url(@post, comment) %></li>
      <%= render "layouts/comments", comment: comment%>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add Comment", new_post_comment_url(@post) %>


<% if current_user == @post.author %>
<p>- - - - - - - - - - - - - - - - - - -</p>
  <p>
    Psst...<%= current_user.username%>,
    you can <%= link_to "edit this post", edit_post_url(@post) %>!
  </p>
<% end %>
<p>- - - - - - - - - - - - - - - - - - -</p>
