<form action="<%= action %>" method="POST">
    <%= auth_token %>
    <p><sup>*</sup>  Indicates Required Field
    <input
      type="hidden"
      name="_method"
      value="<%= method %>">

    <input
      type="hidden"
      name="post[sub_ids][]"
      value="">

    <p>Post Under Sub(s):</p>
      <% Sub.all.each do |sub| %>
        <label>
          <input
            type="checkbox"
            name="post[sub_ids][]"
            value="<%= sub.id %>"
            <%= "checked" if post.sub_ids.include?(sub.id) %>>
            <%= sub.title %>
        </label>
      <% end%>



    <label>Title<sup>*</sup>
      <input
        type="text"
        name="post[title]"
        value="<%= post.title %>">
    </label>

    <label>URL
      <input
        type="text"
        name="post[url]"
        value="<%= post.url %>">
    </label>

    <label>Content
      <textarea
        name="post[content]"
        ><%= post.content %></textarea>
    </label>

    <button><%= button %></button>
</form>

